<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shree.myapplication5">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <meta-data -->
    <!-- tools:replace="android:value" -->
    <!-- android:name="android.support.VERSION" -->
    <!-- android:value="25.3.1" /> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/bm"
        android:label="Smart Sakhi"
        android:roundIcon="@drawable/bm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Smart Sakhi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HealthSchemes" />
        <activity android:name=".SchemeDetails" />
        <activity android:name=".Register" />
        <activity android:name=".Developers"></activity>
    </application>

</manifest>